body {
background:url(../../img/colours/black/black.jpg)  fixed no-repeat;
}
#headmenu {
background:#000;
}
#headmenu:after{
border-color: transparent #000 #000 transparent;
}
#headmenu:before{
border-color: transparent transparent #000 #000;
}
#headmenu a {
color:#fff !important;
}
#headmenu a:hover {
color:#3FC380 !important;
}
.box {
background:#000;
color:#ccc;
}
.boxhead_L { 
background:#000;
background: #000 -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background: #000 -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background: #000 -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background: #000 -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background: #000 linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
.boxhead_R {
background: #67809F;
background: #67809F -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background: #67809F -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background: #67809F -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background: #67809F -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background: #67809F linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

.boxhead_titles {
background:#000;border:1px solid #2C3E50;
}

.slider_argos {
background:#000;
}

.comments_block {
background:#22313F;
}

.main_cont {
background:#22313F;
}

.footerbe {
background:#000;
}

.btn-default {
background:#000;
border:1px solid #22313F;
}
.btn-default:hover {
background:#22313F;
}
.pagination>li>span{
background:#000;
border:1px solid #4D4D4D;
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
background:#22313F;
border:1px solid #4D4D4D;
}
.pagination>li>span:focus,.pagination>li>span:hover{ background:#2C3E50;border:1px solid #000;}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{
background:#34495E;
border:1px solid #4D4D4D;
}
hr {
border-color:#22313F;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
border-top: 1px solid #22313F;
}
.form-control,.input-group-addon  { 
background:#22313F;border:1px solid #34495E;
}